---
layout: default
title: interklubs individueel 2011 - 2012
permalink: /archief/interklubs-indiv-1112/
noindex: true
sitemap: false
tabs:
 - afdeling 4c
 - afdeling 4d
---
{% include nav-pills-start.html title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interklubs-indiv.html datafile=site.data.ni.ni1112.individueel_dworp_1 jaar='201' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-indiv.html datafile=site.data.ni.ni1112.individueel_dworp_2 jaar='201' %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
