---
layout: default
title: nationale interklubs 2011 - 2012
permalink: /archief/interklubs-1112/
last_modified_at: 2016-11-23
tabs:
  - eindstand 4c
  - eindstand 4d
  - uitslagen 4c
  - uitslagen 4d
---
{% include nav-pills-start.html title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interklubs-eindstand.html datafile=site.data.ni.ni1112.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-eindstand.html datafile=site.data.ni.ni1112.eindstand_dworp_2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-uitslagen.html datafile=site.data.ni.ni1112.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-uitslagen.html datafile=site.data.ni.ni1112.uitslagen_dworp_2 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
