---
layout: pills
title: Interclubs individueel 1988 - 1989
permalink: /archief/interclubs-indiv-8889/
noindex: true
sitemap: false
tabs:
  - afdeling 3b
  - afdeling 4e
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni8889.individueel_dworp_1 jaar='1' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni8889.individueel_dworp_2 jaar='1' %}
{% include tab-pane-end.html %}
