---
layout: default
title: interklubs individueel 2012 - 2013
permalink: /archief/interklubs-indiv-1213/
noindex: true
sitemap: false
tab1: 'afdeling 4b'
tab2: 'afdeling 4f'
---
{% include nav-pills-start.html tab1=page.tab1 tab2=page.tab2 title=page.title %}

{% include tab-pane-start.html href=page.tab1 aktief=true %}

{% include table-interklubs-indiv.html datafile=site.data.ni.ni1213.individueel_dworp_1 jaar='201' %}

{% include tab-pane-end.html %}

{% include tab-pane-start.html href=page.tab2 aktief=false %}

{% include table-interklubs-indiv.html datafile=site.data.ni.ni1213.individueel_dworp_2 jaar='201' %}

{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
