---
layout: default
title: nationale interklubs 2016 - 2017
subtitle: afdeling 3b
permalink: /interklubs/
indiv_reversed: true
tabs:
  - verslag
  - individueel
  - uitslagen
  - tussenstand
last_modified_at: 2016-11-28
---
{% include nav-pills-start.html title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include verslag-interklubs.html %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-indiv.html datafile=site.data.ni.ni1617.individueel_dworp_1 jaar='201' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-uitslagen.html datafile=site.data.ni.ni1617.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-eindstand.html datafile=site.data.ni.ni1617.tussenstand_dworp_1 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
