---
layout: pills
title: Interclubs individueel 2010 - 2011
permalink: /archief/interclubs-indiv-1011/
noindex: true
sitemap: false
tabs:
 - afdeling 4e
 - afdeling 5g
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni1011.individueel_dworp_1 jaar='201' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni1011.individueel_dworp_2 jaar='201' %}
{% include tab-pane-end.html %}
