---
layout: pills
title: Nationale Interclubs 1995 - 1996
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 1995 - 1996.
permalink: /archief/interclubs-9596/
last_modified_at: 2017-02-17
tabs:
  - eindstand 4d
  - eindstand 4f
  - eindstand 5f
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9596.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9596.eindstand_dworp_2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9596.eindstand_dworp_3 %}
{% include tab-pane-end.html %}
