---
layout: pills
title: Interclubs individueel 2012 - 2013
permalink: /archief/interclubs-indiv-1213/
noindex: true
sitemap: false
tabs:
 - afdeling 4b
 - afdeling 4f
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni1213.individueel_dworp_1 jaar='201' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni1213.individueel_dworp_2 jaar='201' %}
{% include tab-pane-end.html %}
