---
layout: pills
title: Nationale Interclubs 2010 - 2011
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 2010 - 2011.
permalink: /archief/interclubs-1011/
last_modified_at: 2016-12-07
tabs:
  - eindstand 4e
  - eindstand 5g
  - uitslagen 4e
  - uitslagen 5g
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni1011.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni1011.eindstand_dworp_2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-uitslagen.html datafile=site.data.ni.ni1011.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-uitslagen.html datafile=site.data.ni.ni1011.uitslagen_dworp_2 %}
{% include tab-pane-end.html %}
