---
layout: default
title: Nationale Interclubs 2016 - 2017
subtitle: Afdeling 3B
description: Dworpse Schaakkring. Verslagen, uitslagen en tussenstand.
permalink: /interclubs/
indiv_reversed: true
tabs:
  - verslagen
  - individueel
  - uitslagen
  - tussenstand
last_modified_at: 2016-12-07
---
{% include nav-pills-start.html tabs=page.tabs title=page.title %}

<div class="tab-pane active" id="{{ page.tabs[0] }}">
{% include verslag-interclubs.html %}
</div>

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-indiv.html datafile=site.data.ni.ni1617.individueel_dworp_1 jaar='201' %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-uitslagen.html datafile=site.data.ni.ni1617.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni1617.tussenstand_dworp_1 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
