---
layout: pills
title: Nationale Interclubs 1989 - 1990
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 1989 - 1990.
permalink: /archief/interclubs-8990/
last_modified_at: 2017-01-13
tabs:
  - eindstand 3b
  - eindstand 4d
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni8990.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni8990.eindstand_dworp_2 %}
{% include tab-pane-end.html %}
