---
layout: default
title: nationale interklubs 2014 - 2015
subtitle: afdeling 4f
permalink: /archief/interklubs-1415/
last_modified_at: 2016-11-23
tabs:
  - eindstand
  - uitslagen
---
{% include nav-pills-start.html title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interklubs-eindstand.html datafile=site.data.ni.ni1415.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interklubs-uitslagen.html datafile=site.data.ni.ni1415.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
