---
layout: pills
title: Nationale Interclubs 1990 - 1991
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 1990 - 1991.
permalink: /archief/interclubs-9091/
last_modified_at: 2017-01-13
tabs:
  - eindstand 3b
  - eindstand 4d
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9091.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9091.eindstand_dworp_2 %}
{% include tab-pane-end.html %}
