---
layout: pills
title: Nationale Interclubs 2014 - 2015
subtitle: Afdeling 4F
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 2014 - 2015.
permalink: /archief/interclubs-1415/
last_modified_at: 2016-12-07
tabs:
  - eindstand
  - uitslagen
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni1415.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-uitslagen.html datafile=site.data.ni.ni1415.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}
