---
layout: default
title: nationale interklubs
permalink: /interklubs/
jaar1: "2016"
jaar2: "2017"
subtitle: "afdeling 3b"
last_modified_at: 2016-11-16
---
{% capture titel %}{{ page.title }} {{ page.jaar1 }}-{{ page.jaar2 }}{% endcapture %}

{% include nav-pills-start.html  tab1=page.jaar1 tab2=page.jaar2 title=titel %}

{% include tab-pane-start.html href=page.jaar1 aktief=true %}

<table class="table">
  <tbody>
    <tr><th colspan="2">ronde 1<th colspan="2">02-10-2016
    <tr><td>1<td>174 brasschaat 2<td>-<td>143 temse 2
    <tr><td>2<td>952 wavre 1<td>-<td>518 soignies 1
    <tr><td>3<td>226 europchess 2<td>-<td>541 leuze 1
    <tr><td>4<td>278 pantin 1<td>-<td>401 kgsrl 4
    <tr><td>5<td>228 dworp 1<td>-<td>261 opwijk 1
    <tr><td>6<td>244 brussels 1<td>-<td>432 wetteren 2
    <tr><th colspan="2">ronde 2<th colspan="2">16-10-2016
    <tr><td>1<td>432 wetteren 2<td>-<td>174 brasschaat 2
    <tr><td>2<td>261 opwijk 1<td>-<td>244 brussels 1
    <tr><td>3<td>401 kgsrl 4<td>-<td>228 dworp 1
    <tr><td>4<td>541 leuze 1<td>-<td>278 pantin 1
    <tr><td>5<td>518 soignies 1<td>-<td>226 europchess 2
    <tr><td>6<td>143 temse 2<td>-<td>952 wavre 1
    <tr><th colspan="2">ronde 3<th colspan="2">06-11-2016
    <tr><td>1<td>174 brasschaat 2<td>-<td>952 wavre 1
    <tr><td>2<td>226 europchess 2<td>-<td>143 temse 2
    <tr><td>3<td>278 pantin 1<td>-<td>518 soignies 1
    <tr><td>4<td>228 dworp 1<td>-<td>541 leuze 1
    <tr><td>5<td>244 brussels 1<td>-<td>401 kgsrl 4
    <tr><td>6<td>432 wetteren 2<td>-<td>261 opwijk 1
    <tr><th colspan="2">ronde 4<th colspan="2">27-11-2016
    <tr><td>1<td>261 opwijk 1<td>-<td>174 brasschaat 2
    <tr><td>2<td>401 kgsrl 4<td>-<td>432 wetteren 2
    <tr><td>3<td>541 leuze 1<td>-<td>244 brussels 1
    <tr><td>4<td>518 soignies 1<td>-<td>228 dworp 1
    <tr><td>5<td>143 temse 2<td>-<td>278 pantin 1
    <tr><td>6<td>952 wavre 1<td>-<td>226 europchess 2
    <tr><th colspan="2">ronde 5<th colspan="2">04-12-2016
    <tr><td>1<td>174 brasschaat 2<td>-<td>226 europchess 2
    <tr><td>2<td>278 pantin 1<td>-<td>952 wavre 1
    <tr><td>3<td>228 dworp 1<td>-<td>143 temse 2
    <tr><td>4<td>244 brussels 1<td>-<td>518 soignies 1
    <tr><td>5<td>432 wetteren 2<td>-<td>541 leuze 1
    <tr><td>6<td>261 opwijk 1<td>-<td>401 kgsrl 4
  </tbody>
</table>

{% include tab-pane-end.html %}

{% include tab-pane-start.html href=page.jaar2 aktief=false %}

<table class="table">
  <tbody>
    <tr><th colspan="2">ronde 6<th colspan="2">29-01-2017
    <tr><td>1<td>401 kgsrl 4<td>-<td>174 brasschaat 2
    <tr><td>2<td>541 leuze 1<td>-<td>261 opwijk 1
    <tr><td>3<td>518 soignies 1<td>-<td>432 wetteren 2
    <tr><td>4<td>143 temse 2<td>-<td>244 brussels 1
    <tr><td>5<td>952 wavre 1<td>-<td>228 dworp 1
    <tr><td>6<td>226 europchess 2<td>-<td>278 pantin 1
    <tr><th colspan="2">ronde 7<th colspan="2">12-02-2017
    <tr><td>1<td>174 brasschaat 2<td>-<td>278 pantin 1
    <tr><td>2<td>228 dworp 1<td>-<td>226 europchess 2
    <tr><td>3<td>244 brussels 1<td>-<td>952 wavre 1
    <tr><td>4<td>432 wetteren 2<td>-<td>143 temse 2
    <tr><td>5<td>261 opwijk 1<td>-<td>518 soignies 1
    <tr><td>6<td>401 kgsrl 4<td>-<td>541 leuze 1
    <tr><th colspan="2">ronde 8<th colspan="2">19-02-2017
    <tr><td>1<td>541 leuze 1<td>-<td>174 brasschaat 2
    <tr><td>2<td>518 soignies 1<td>-<td>401 kgsrl 4
    <tr><td>3<td>143 temse 2<td>-<td>261 opwijk 1
    <tr><td>4<td>952 wavre 1<td>-<td>432 wetteren 2
    <tr><td>5<td>226 europchess 2<td>-<td>244 brussels 1
    <tr><td>6<td>278 pantin 1<td>-<td>228 dworp 1
    <tr><th colspan="2">ronde 9<th colspan="2">12-03-2017
    <tr><td>1<td>174 brasschaat 2<td>-<td>228 dworp 1
    <tr><td>2<td>244 brussels 1<td>-<td>278 pantin 1
    <tr><td>3<td>432 wetteren 2<td>-<td>226 europchess 2
    <tr><td>4<td>261 opwijk 1<td>-<td>952 wavre 1
    <tr><td>5<td>401 kgsrl 4<td>-<td>143 temse 2
    <tr><td>6<td>541 leuze 1<td>-<td>518 soignies 1
    <tr><th colspan="2">ronde 10<th colspan="2">26-03-2017
    <tr><td>1<td>518 soignies 1<td>-<td>174 brasschaat 2
    <tr><td>2<td>143 temse 2<td>-<td>541 leuze 1
    <tr><td>3<td>952 wavre 1<td>-<td>401 kgsrl 4
    <tr><td>4<td>226 europchess 2<td>-<td>261 opwijk 1
    <tr><td>5<td>278 pantin 1<td>-<td>432 wetteren 2
    <tr><td>6<td>228 dworp 1<td>-<td>244 brussels 1
    <tr><th colspan="2">ronde 11<th colspan="2">23-04-2017
    <tr><td>1<td>244 brussels 1<td>-<td>174 brasschaat 2
    <tr><td>2<td>432 wetteren 2<td>-<td>228 dworp 1
    <tr><td>3<td>261 opwijk 1<td>-<td>278 pantin 1
    <tr><td>4<td>401 kgsrl 4<td>-<td>226 europchess 2
    <tr><td>5<td>541 leuze 1<td>-<td>952 wavre 1
    <tr><td>6<td>518 soignies 1<td>-<td>143 temse 2
  </tbody>
</table>

{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
