---
layout: default
title: nationale interclubs 2015 - 2016
subtitle: afdeling 3b
permalink: /archief/interclubs-1516/
last_modified_at: 2016-12-06
tabs:
  - eindstand
  - uitslagen
---
{% include nav-pills-start.html tabs=page.tabs title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni1516.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-uitslagen.html datafile=site.data.ni.ni1516.uitslagen_dworp_1 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
