---
layout: pills
title: Nationale Interclubs 1994 - 1995
description: Dworpse Schaakkring. Uitslagen en eindstand nationale interclubs 1994 - 1995.
permalink: /archief/interclubs-9495/
last_modified_at: 2017-02-14
tabs:
  - eindstand 4d
  - eindstand 4f
  - eindstand 5g
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9495.eindstand_dworp_1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9495.eindstand_dworp_2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-interclubs-eindstand.html datafile=site.data.ni.ni9495.eindstand_dworp_3 %}
{% include tab-pane-end.html %}
