---
layout: default
title: kalender
permalink: /kalender/
jaar1: "2016"
jaar2: "2017"
last_modified_at: 2016-11-16
---
{% capture titel %}{{ page.title }} {{ page.jaar1 }}-{{ page.jaar2 }}{% endcapture %}

{% include nav-pills-start.html  tab1=page.jaar1 tab2=page.jaar2 title=titel %}

{% include tab-pane-start.html href=page.jaar1 aktief=true %}

{% include table-kalender.html jaar=page.jaar1 %}

{% include tab-pane-end.html %}

{% include tab-pane-start.html href=page.jaar2 aktief=false %}

{% include table-kalender.html jaar=page.jaar2 %}

{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
