---
layout: pills
title: Kalender
description: Dworpse Schaakkring. Agenda 2019-2020.
permalink: /kalender/
jaar1: "2019"
jaar2: "2020"
tabs:
  - 2019
  - 2020
  - jeugd stap 1
  - externe kalenders
last_modified_at: 2019-10-21
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-kalender.html jaar=page.jaar1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-kalender.html jaar=page.jaar2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
<p>De lessen vinden elke zaterdagmorgen plaats van 11u tot 12u30 in 't oud kasteel - kasteelstraat 96 - 1500 halle</p>
{% include table-kalender-jeugd.html %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% comment %}
{% assign tab = page.tabs[1] %}
{% endcomment %}
{% include tab-pane-start.html href=tab aktief=false %}
<h3>goede kalenders om het schaakgebeuren in belgië en omstreken te volgen</h3>
<ul>
  <li><p>een nieuw initiatief is de belgische kalender van <a href="http://chesscal.com/" target="_blank">chesscal</a></p></li>
  <li><p>zeer populair zijn de <a href="http://www.jeugdschaakcriterium.be" target="_blank">10 vlaamse jeugdschaakcriteria</a> (ook voor volwassenen)</p></li>
  <li><p>de belgische schaakbond heeft zijn <a href="https://www.frbe-kbsb.be/index.php/nl/nieuws/nieuws" target="_blank">tornooikalender</a></p></li>
  <li><p>de <a href="https://schaakkalender.nl/" target="_blank">schaakkalender</a> van de nederlandse schaakbond knsb</p></li>
  <li><p>gehomologeerde <a href="https://ratings.fide.com/tournament_list.phtml?moder=ev_code&country=BEL" target="_blank">belgische tornooien</a> door de wereldschaakbond fide</p></li>
  <li><p>de <a href="https://www.fide.com/calendar/tournaments.html" target="_blank"> volledige tornooikalender</a> van diezelfde fide</p></li>
  <li><p>en tot slot hebben we nog de <a href="https://chess-calendar.eu/index.php?searchquery=120km&localisation=Halle%2C+BEL" target="_blank">grootste schaakkalender ter wereld</a> (pagina verversen na openen)</p></li>
</ul>

{% include tab-pane-end.html %}
