---
layout: pills
title: Kalender 2016 - 2017
description: Dworpse Schaakkring. Agenda 2016 - 2017.
permalink: /kalender/
jaar1: "2016"
jaar2: "2017"
tabs:
  - 2016
  - 2017
last_modified_at: 2016-12-07
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-kalender.html jaar=page.jaar1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-kalender.html jaar=page.jaar2 %}
{% include tab-pane-end.html %}
