---
layout: default
title: klubkampioenschap 2015 - 2016
permalink: /archief/klubkampioenschap-1516/
noindex: true
sitemap: false
tabs:
  - eindstand
  - uitslagen
---
{% include nav-pills-start.html title=page.title %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-eindstand.html datafile=site.data.kk.kk1516.eindstand %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1516.uitslagen jaar="201" %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
