---
layout: pills
title: Klubkampioenschap 2014 - 2015
permalink: /archief/klubkampioenschap-1415/
noindex: true
sitemap: false
tabs:
  - eindstand
  - uitslagen
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-eindstand.html datafile=site.data.kk.kk1415.eindstand %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1415.uitslagen jaar="201" %}
{% include tab-pane-end.html %}
