---
layout: default
title: klubkampioenschap
permalink: /klubkampioenschap/
noindex: true
jaar1: "2016"
jaar2: "2017"
---
{% capture titel %}{{ page.title }} {{ page.jaar1 }}-{{ page.jaar2 }}{% endcapture %}

{% include nav-pills-start.html  tab1=page.jaar1 tab2=page.jaar2 title=titel %}

{% include tab-pane-start.html href=page.jaar1 aktief=true %}

<table class="table">
  <tbody>
    <tr><th colspan="2">ronde 1<th colspan="2">07-10-2016
    <tr><td>1<td>walter de reymaeker<td>-<td>stijn bertrand
    <tr><td>2<td>diederik lot<td>-<td>bernard malfliet
    <tr><td>3<td>robert huysman<td>-<td>eric cornelis
    <tr><td>4<td>yves baert<td>-<td>peter de bosscher
    <tr><td>5<td>geert verrijken<td>-<td>filip van de velde
    <tr><td>6<td>serge vanderwaeren<td>-<td>kjell spaens
    <tr><th colspan="2">ronde 2<th colspan="2">21-10-2016
    <tr><td>1<td>stijn bertrand<td>-<td>kjell spaens
    <tr><td>2<td>filip van de velde<td>-<td>serge vanderwaeren
    <tr><td>3<td>peter de bosscher<td>-<td>geert verrijken
    <tr><td>4<td>eric cornelis<td>-<td>yves baert
    <tr><td>5<td>bernard malfliet<td>-<td>robert huysman
    <tr><td>6<td>walter de reymaeker<td>-<td>diederik lot
    <tr><th colspan="2">ronde 3<th colspan="2">04-11-2016
    <tr><td>1<td>diederik lot<td>-<td>stijn bertrand
    <tr><td>2<td>robert huysman<td>-<td>walter de reymaeker
    <tr><td>3<td>yves baert<td>-<td>bernard malfliet
    <tr><td>4<td>geert verrijken<td>-<td>eric cornelis
    <tr><td>5<td>serge vanderwaeren<td>-<td>peter de bosscher
    <tr><td>6<td>kjell spaens<td>-<td>filip van de velde
    <tr><th colspan="2">ronde 4<th colspan="2">16-12-2016
    <tr><td>1<td>stijn bertrand<td>-<td>filip van de velde
    <tr><td>2<td>peter de bosscher<td>-<td>kjell spaens
    <tr><td>3<td>eric cornelis<td>-<td>serge vanderwaeren
    <tr><td>4<td>bernard malfliet<td>-<td>geert verrijken
    <tr><td>5<td>walter de reymaeker<td>-<td>yves baert
    <tr><td>6<td>diederik lot<td>-<td>robert huysman
  </tbody>
</table>

{% include tab-pane-end.html %}

{% include tab-pane-start.html href=page.jaar2 aktief=false %}

<table class="table">
  <tbody>
    <tr><th colspan="2">ronde 5<th colspan="2">13-01-2017
    <tr><td>1<td>robert huysman<td>-<td>stijn bertrand
    <tr><td>2<td>yves baert<td>-<td>diederik lot
    <tr><td>3<td>geert verrijken<td>-<td>walter de reymaeker
    <tr><td>4<td>serge vanderwaeren<td>-<td>bernard malfliet
    <tr><td>5<td>kjell spaens<td>-<td>eric cornelis
    <tr><td>6<td>filip van de velde<td>-<td>peter de bosscher
    <tr><th colspan="2">ronde 6<th colspan="2">03-02-2017
    <tr><td>1<td>stijn bertrand<td>-<td>peter de bosscher
    <tr><td>2<td>eric cornelis<td>-<td>filip van de velde
    <tr><td>3<td>bernard malfliet<td>-<td>kjell spaens
    <tr><td>4<td>walter de reymaeker<td>-<td>serge vanderwaeren
    <tr><td>5<td>diederik lot<td>-<td>geert verrijken
    <tr><td>6<td>robert huysman<td>-<td>yves baert
    <tr><th colspan="2">ronde 7<th colspan="2">17-02-2017
    <tr><td>1<td>yves baert<td>-<td>stijn bertrand
    <tr><td>2<td>geert verrijken<td>-<td>robert huysman
    <tr><td>3<td>serge vanderwaeren<td>-<td>diederik lot
    <tr><td>4<td>kjell spaens<td>-<td>walter de reymaeker
    <tr><td>5<td>filip van de velde<td>-<td>bernard malfliet
    <tr><td>6<td>peter de bosscher<td>-<td>eric cornelis
    <tr><th colspan="2">ronde 8<th colspan="2">03-03-2017
    <tr><td>1<td>stijn bertrand<td>-<td>eric cornelis
    <tr><td>2<td>bernard malfliet<td>-<td>peter de bosscher
    <tr><td>3<td>walter de reymaeker<td>-<td>filip van de velde
    <tr><td>4<td>diederik lot<td>-<td>kjell spaens
    <tr><td>5<td>robert huysman<td>-<td>serge vanderwaeren
    <tr><td>6<td>yves baert<td>-<td>geert verrijken
    <tr><th colspan="2">ronde 9<th colspan="2">07-04-2017
    <tr><td>1<td>geert verrijken<td>-<td>stijn bertrand
    <tr><td>2<td>serge vanderwaeren<td>-<td>yves baert
    <tr><td>3<td>kjell spaens<td>-<td>robert huysman
    <tr><td>4<td>filip van de velde<td>-<td>diederik lot
    <tr><td>5<td>peter de bosscher<td>-<td>walter de reymaeker
    <tr><td>6<td>eric cornelis<td>-<td>bernard malfliet
    <tr><th colspan="2">ronde 10<th colspan="2">21-04-2017
    <tr><td>1<td>stijn bertrand<td>-<td>bernard malfliet
    <tr><td>2<td>walter de reymaeker<td>-<td>eric cornelis
    <tr><td>3<td>diederik lot<td>-<td>peter de bosscher
    <tr><td>4<td>robert huysman<td>-<td>filip van de velde
    <tr><td>5<td>yves baert<td>-<td>kjell spaens
    <tr><td>6<td>geert verrijken<td>-<td>serge vanderwaeren
    <tr><th colspan="2">ronde 11<th colspan="2">05-05-2017
    <tr><td>1<td>serge vanderwaeren<td>-<td>stijn bertrand
    <tr><td>2<td>kjell spaens<td>-<td>geert verrijken
    <tr><td>3<td>filip van de velde<td>-<td>yves baert
    <tr><td>4<td>peter de bosscher<td>-<td>robert huysman
    <tr><td>5<td>eric cornelis<td>-<td>diederik lot
    <tr><td>6<td>bernard malfliet<td>-<td>walter de reymaeker
  </tbody>
</table>

{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
