---
layout: pills
title: Klubkampioenschap
permalink: /klubkampioenschap/
noindex: true
sitemap: false
jaar1: "2016"
jaar2: "2017"
tabs:
  - verslagen
  - 2016
  - 2017
  - tussenstand
---
{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include verslag-interclubs.html soort="kk" %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1617.uitslagen jaar=page.jaar1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[2] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1617.uitslagen jaar=page.jaar2 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[3] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-eindstand.html datafile=site.data.kk.kk1617.tussenstand %}
{% include tab-pane-end.html %}
