---
layout: default
title: klubkampioenschap
permalink: /klubkampioenschap/
noindex: true
sitemap: false
jaar1: "2016"
jaar2: "2017"
tabs:
  - 2016
  - 2017
---
{% capture titel %}{{ page.title }} {{ page.jaar1 }}-{{ page.jaar2 }}{% endcapture %}

{% include nav-pills-start.html title=titel %}

{% assign tab = page.tabs[0] %}
{% include tab-pane-start.html href=tab aktief=true %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1617.uitslagen jaar=page.jaar1 %}
{% include tab-pane-end.html %}

{% assign tab = page.tabs[1] %}
{% include tab-pane-start.html href=tab aktief=false %}
{% include table-klubkampioenschap.html datafile=site.data.kk.kk1617.uitslagen jaar=page.jaar2 %}
{% include tab-pane-end.html %}

{% include nav-pills-end.html %}
