---
layout: default
title: Deelnemers Memorial 2017
permalink: /mm-deelnemers/
noindex: true
sitemap: false
fide: false
club: false
---
{% assign deelnemers = site.data.mm.mm2017.deelnemers | where:"aanwezig","ja" | sort: "rating", "first" | reverse %}

<nav aria-label="terug naar info">
  <ul class="pager">
    <li class="previous">
      <a href="{{ "/memorial/" | relative_url }}" style="font-size:larger;">
        <span aria-hidden="true">&larr;</span> info pagina
      </a>
  </ul>
</nav>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><span class="sr-only">nummer</span></th>
        <th>naam</th>
        <th>voornaam</th>
        <th>titel</th>
        <th>rating</th>
        {% if page.fide %}
        <th>fide (blitz) elo</th>
        {% endif %}
        {% if page.club %}
        <th>club</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for deelnemer in deelnemers %}
      <tr>
        <td>{{ forloop.index }}</td>
        <td>{{ deelnemer.achternaam | downcase}}</td>
        <td>{{ deelnemer.voornaam | downcase}}</td>
        <td>{{ deelnemer.schaaktitel | downcase }}</td>
        <td>{{ deelnemer.rating }}</td>
        {% if page.fide %}
        <td>{{ deelnemer["fide elo"] }}</td>
        {% endif %}
        {% if page.club %}
        <td>{{ deelnemer.club | downcase }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
