---
layout: default
title: Open tornooi 2016 - 2017
permalink: /open/
noindex: true
sitemap: false
datadir: op1617
---
<p class="lead">tempo: 25 minuten k.o.</p>
{% assign gesorteerde_bestanden = site.data.open[page.datadir] | sort %}
<ul class="nav nav-pills">
  {% for bestand in gesorteerde_bestanden reversed %}
  <li{% if forloop.index == 1 %} class="active"{% endif %}>
    <a data-toggle="pill" href="#{{ bestand[0] | replace: " ", "-" }}">{{ bestand[0] | replace: "_", " "}}</a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for bestand in gesorteerde_bestanden reversed %}
  {% assign naam = bestand[0] %}
    {% if naam == "tussenstand" %}
      {% include tab-pane-start.html href=naam aktief=true %}
      {% assign inhoud = bestand[1] %}
      {% include table-eindstand.html datafile=inhoud %}
      {% include tab-pane-end.html %}
    {% else %}
      {% include tab-pane-start.html href=naam aktief=false %}
      <div class="table-responsive">
        <table class="table table-condensed">
          <tbody>
            {% assign borden = bestand[1] %}
            {% for bord in borden %}
            <tr>
            {% assign witspeler = bord.wit | downcase | slice: 0, 6 %}
              {% if witspeler == "partij" %}
                {% assign teller = 0 %}
                <th colspan="2">{{ bord.wit | downcase }}</th>
                <th colspan="5" class="alignright"></th>
              {% else %}
                {% assign teller = teller | plus: 1 %}
                <td class="aligncenter">{{ teller }}</td>
                <td>{{ bord.wit | downcase }}</td><td>-</td>
                <td>{{ bord.zwart | downcase }}</td>
                <td class="alignright">{{ bord.wr | downcase }}</td>
                <td class="aligncenter">-</td><td>{{ bord.zr | downcase }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include tab-pane-end.html %}
    {% endif %}
  {% endfor %}
</div>
