---
layout: default
title: Snelschaak 2016 - 2017
permalink: /snelschaak/
noindex: true
sitemap: false
rondes: [tussenstand, jun, mei, apr, maa, feb, jan, dec, nov, okt, sep, av]
datadir: ss1617
tempo: 5 minuten k.o.
---
{% assign bestanden = site.data.ss[page.datadir] %}
<ul class="nav nav-pills">
  {% for ronde in page.rondes %}
    {% if bestanden[ronde] %}
    <li{% if forloop.index == 1 %} class="active"{% endif %}>
      <a data-toggle="pill" href="#{{ ronde | replace: " ", "-" }}">{{ ronde }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="tab-content">
  {% for ronde in page.rondes %}
    {% assign bestand = bestanden[ronde] %}
    {% if bestand %}
      {% if forloop.index == 1 %}
        {% include tab-pane-start.html href=ronde aktief=true %}
      {% else %}
        {% include tab-pane-start.html href=ronde aktief=false %}
      {% endif %}
      {% include table-eindstand.html datafile=bestand %}
      {% include tab-pane-end.html %}
    {% endif %}
  {% endfor %}
</div>
