---
layout: journaal
title: Webjournaal
description: weblog met oa. verslagen van de nationale interclubs en het clubkampioenschap
feed: true
---
{% if paginator.page > 1 %}
  {% include pagination.html %}
{% endif %}

{% for post in paginator.posts %}
  {% if post.tag == "kk" %}
    {% assign tag = "klubkampioenschap" %}
  {% elsif post.tag == "ni" %}
    {% assign tag = "interclubs" %}
  {% else %}
    {% assign tag =  post.tag %}
  {% endif %}

  <article>
    <div style="padding:10px 30px 0px;">
    <header>
      <h1><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a></h1>
    </header>
    <p class="lead">{{ post.content | strip_html | truncatewords: 40 | downcase }}</p>
    <p class="lead"><a href="{{ post.url | relative_url }}">lees meer &raquo;</a></p>
    <footer>
      <p class="lead">
        <span class="fa fa-user" aria-hidden="true"></span>
        {{ post.author | downcase }}&nbsp; <span class="fa fa-tag" aria-hidden="true"></span>
        {{ tag }}&nbsp; <span class="fa fa-clock-o" aria-hidden="true"></span>
        <time datetime="{{ post.date | date_to_xmlschema }}">{% include datum.html date=post.date %}</time></p>
    </footer>
    </div>
    <hr style="border-color:#CF4A1C">
  </article>
{% endfor %}

{% include pagination.html %}
