---
layout: journaal
title: Webjournaal
description: Weblog met o.a. verslagen van de nationale interclubs en het clubkampioenschap
feed: true
---
{% if paginator.page > 1 %}
  {% include pagination.html %}
{% endif %}

{% assign posts = paginator.posts | where_exp: "post", "post.draft != true" %}
{% for post in posts %}
  {% if post.tag == "kk" %}
    {% assign tag = "klubkampioenschap" %}
  {% elsif post.tag == "ni" %}
    {% assign tag = "interclubs" %}
  {% elsif post.tag == "mm" %}
    {% assign tag = "memorial" %}
  {% else %}
    {% assign tag =  post.tag %}
  {% endif %}

  {% assign medewerkers = post.auteur | append: "," | append: post.fotograaf | split: "," %}
  {% assign temp_werkers = '' | split: '' %}
  {% for persoon in medewerkers %}
    {% assign medewerker = persoon | strip | downcase %}
    {% assign temp_werkers = temp_werkers | push: medewerker %}
  {% endfor %}
  {% assign medewerkers = temp_werkers | uniq | join: "," %}

  <article>
    <div style="padding:10px 30px 0px;">
    <header>
      <h1><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a></h1>
    </header>
    <p class="lead">{{ post.content | strip_html | truncatewords: 40 | downcase | remove_first: "vooraf" | remove_first: "voorspel"}}</p>
    <p class="lead"><a href="{{ post.url | relative_url }}">lees meer &raquo;</a></p>
    <footer>
      <p class="lead">
        <span class="fa fa-user" aria-hidden="true"></span>
	{{ medewerkers }}&nbsp; <span class="fa fa-tag" aria-hidden="true"></span>
        {{ tag }}&nbsp; <span class="fa fa-clock-o" aria-hidden="true"></span>
        <time datetime="{{ post.date | date_to_xmlschema }}">{% include datum.html date=post.date %}</time></p>
    </footer>
    </div>
    <hr style="border-color:#CF4A1C">
  </article>
{% endfor %}

{% include pagination.html %}
