---
layout: compress
description: "Welkom op de website van onze schaakclub. De club zijn roots liggen in Dworp, schaken doen we tegenwoordig in Halle."
last_modified_at: 2016-12-22
---
<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    {% include head.html %}
    <link href="{{"/styles/homepage.css" | prepend: site.baseurl }}" rel="stylesheet">
    <script src="{{"/scripts/homepage.js" | prepend: site.baseurl }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHphI5tNhhW0hImFMhl-NAkiiq5M8Q1tw&callback=googleMapsInitialize" async defer></script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <a href="#top" class="sr-only sr-only-focusable">￼doorgaan naar hoofdinhoud</a>
    {% include navbar.html %}

    <header class="header-content" id="top" tabindex="-1">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>dworpse schaakkring</h1>
                <hr class="header-hr">
                <p class="pseudo-h2">een schaakclub in halle</p>
                <a href="#over-ons" class="btn btn-warning btn-lg">over ons »</a>
            </div>
        </div>
    </header>

    {% capture kk_link %}{{ "/klubkampioenschap/" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture kal_link %}{{ "/kalender/" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture ni_link %}{{ "/interclubs/" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture mem_link %}{{ "/memorial-2016/" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture ct_link %}{{ "/contact/" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture best_link %}{{ "#bestuur" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    {% capture lok_link %}{{ "#lokatie" | prepend: site.baseurl | replace: '//', '/' }}{% endcapture %}
    <section id="over-ons">
      <div class="container text-center">
        <h2>over ons</h2>
        <hr class="section-hr">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <span class="glyphicon glyphicon-knight icoon-groot" aria-hidden="true"></span>
            <h3>wie zijn we</h3>
            <p class="lead">de roots van onze club liggen in dworp, maar reeds sinds 1984 spelen we onafgebroken in halle. we zijn een gezellige schaak-en vriendenclub, aangesloten bij de <a href="https://sites.google.com/site/vlaamseschaakfederatie/" target="_blank">vlaamse schaakfederatie</a> en de <a href="http://www.frbe-kbsb.be/index.php/nl/" target="_blank">belgische schaakbond</a>. iedereen is bij ons welkom voor een schaakje en een pintje.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <span class="glyphicon glyphicon-bishop icoon-groot" aria-hidden="true"></span>
            <h3>wat doen we</h3>
            <p class="lead">we organiseren elk jaar een <a href={{ kk_link }}>clubkampioenschap</a>, spelen mee in de derde afdeling van de <a href={{ ni_link }}>nationale interclubs</a>, en organiseren sinds enkele jaren het snelschaaktornooi <a href={{ mem_link }}>memorial debast</a>. bekijk onze <a href={{ kal_link }}>kalender</a>.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-tower icoon-groot" aria-hidden="true"></span>
            <h3>waar & wanneer</h3>
            <p class="lead">je kan ons op vrijdagavond vanaf 20u00 vinden in <a id="lok1" href={{ lok_link }}>turncentrum start65</a>. daar hebben we ons speellokaal.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-queen icoon-groot" aria-hidden="true"></span>
            <h3>jeugdlessen</h3>
            <p class="lead">twee lesgevers geven 's vrijdags voor aanvang van de clubavond onderricht aan de jeugd met behulp van de <a href="http://www.stappenmethode.nl/" target="_blank">stappenmethode</a>. </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-king icoon-groot" aria-hidden="true"></span>
            <h3>contact</h3>
            <p class="lead">wil je nog meer weten? stel ons gerust een vraag via de <a href={{ ct_link }}>contactpagina</a>. gegevens over het bestuur vind je <a id="best1" href={{ best_link }}>hier</a>.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="lokatie">
      <div class="container text-center">
        <h2>lokatie</h2>
        <hr class="section-hr">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div id="start65" style="height:350px;width:100%;"></div>
            <p style="padding-top:20px;" class="lead">clubavonden hebben 's vrijdags plaats in een lokaal van</p>
            <address class="lead">
              <strong>turncentrum start65</strong><br>
              oct. de kerchove d’exaerdestraat 214<br>
              1501 buizingen<br>
            </address>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div id="campus" style="height:350px;width:100%;"></div>
            <p style="padding-top:20px;" class="lead">de wedstrijden van de interclubs spelen we 's zondags in</p>
            <address class="lead">
              <strong>campus halle</strong><br>
              kanaalbrugstraat 5d<br>
              1500 halle<br>
            </address>
          </div>
        </div>
      </div>
    </section>

    <section id="bestuur">
      <div class="container text-center">
        <h2>bestuur</h2>
        <hr class="section-hr">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <span class="glyphicon glyphicon-king icoon-groot" aria-hidden="true"></span>
            {% include bestuurslid.html functie="voorzitter" %}
            <!-- {% include bestuurslid.html functie=page.voorzitter.functie naam=page.voorzitter.naam telefoon=page.voorzitter.telefoon gsm=page.voorzitter.gsm email=page.voorzitter.email %} -->
          </div>
          <div class="col-xs-12 col-sm-6">
            <span class="glyphicon glyphicon-queen icoon-groot" aria-hidden="true"></span>
            {% include bestuurslid.html functie="secretaris" %}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <span class="glyphicon glyphicon-tower icoon-groot" aria-hidden="true"></span>
            {% include bestuurslid.html functie="penningmeester" %}
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
