{% assign bestuurslid = site.data.bestuur[include.functie] %}
<h3><strong>{{ bestuurslid.naam }}</strong><br>{{ bestuurslid.functie }}</h3>
<p class="lead">
{% if bestuurslid.telefoon %}
<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><span class="sr-only">telefoon:</span>  {{ bestuurslid.telefoon }}<br>
{% endif %}
{% if bestuurslid.gsm %}
<span class="glyphicon glyphicon-phone" aria-hidden="true"></span><span class="sr-only">mobiel:</span>  {{ bestuurslid.gsm }}<br>
{% endif %}
{% if bestuurslid.email %}
<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="sr-only">e-mailadres:</span>
<script>document.write('  ' + decrypt(46, 77, 'schaken', '{{ bestuurslid.email }}'));</script>
<noscript> e-mailadres? zet javascript aan ;-)</noscript>
{% endif %}
</p>
