{% unless page.no_prev_next %}
    {% if page.collection == "elo" %}
    {{ elo }}
      {% assign collectie = site[page.collection] | sort: 'rangschikking' %}
    {% else %}
      {% assign collectie = site[page.collection] | sort: 'beginjaar' %}
    {% endif %}
  {% for document in collectie  %}
    {% if document.title == page.title %}
      {% unless forloop.first %}
        {% assign purl = previous.url %}
        {% capture vorige %}{{ previous.beginjaar }} - {{ previous.beginjaar | plus: 1 }}{% endcapture %}
        {% if page.collection == "elo" %}
          {% assign vorige = previous.title | remove_first: "elolijst " %}
        {% endif %}
      {% else %}
        {% capture vorige %}{{ page.beginjaar | minus: 2 }} - {{ page.beginjaar | minus: 1 }}{% endcapture %}
        {% if page.collection == "elo" %}
          {% assign vorige = "n/a" %}
        {% endif %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = collectie[forloop.index] %}
        {% assign nurl = next.url %}
        {% capture volgende %}{{ next.beginjaar }} - {{ next.beginjaar | plus: 1 }}{% endcapture %}
        {% if page.collection == "elo" %}
          {% assign volgende = next.title | remove_first: "elolijst " %}
        {% endif %}
      {% else %}
        {% capture volgende %}{{ page.beginjaar | plus: 1 }} - {{ page.beginjaar | plus: 2 }}{% endcapture %}
        {% if page.collection == "elo" %}
          {% assign volgende = "n/a" %}
        {% endif %}
      {% endunless %}
      {% break %}
    {% endif %}
    {% assign previous = document %}
  {% endfor %}
  <nav aria-label="vorige volgende navigatie">
    <ul class="pager">
      <li class="previous{% unless purl %} disabled{% endunless %}"><a href="{{ purl | relative_url }}"><span aria-hidden="true">&larr;</span> {{ vorige }}</a></li>
      <li class="next{% unless nurl %} disabled{% endunless %}"><a href="{{ nurl | relative_url }}">{{ volgende }} <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
{% endunless %}
