<footer id="footer" class="footer-main container-full text-center invisible">
  <a id="pijl" href="#" onclick="naarBoven();return false;" title="naar boven">
    <span class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></span><span class="sr-only">naar begin pagina</span>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 alignleft">
        <a href="{{ "/contact/" | relative_url }}">
          <span class="fa fa-fw fa-lg fa-envelope-o" aria-hidden="true"></span> contacteer ons
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ "/inschrijven-mailinglijst/" | relative_url }}">
          <span class="fa fa-fw fa-lg fa-newspaper-o" aria-hidden="true"></span> inschrijven mailinglijst
        </a>
      </div>
      <div class="col-sm-4 alignright">
        <a href="{{ "/feed.xml" | relative_url }}" title="atom (rss) feed" target="_blank">
          <span class="fa-stack fa-lg" aria-hidden="true">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-feed fa-stack-1x"></i>
          </span>
          <span class="sr-only">atom (rss) feed</span>
        </a>
        <a href="https://www.facebook.com/Dworpse-Schaakkring-1877050015844599" title="volg ons op facebook" target="_blank">
          <span class="fa-stack fa-lg" aria-hidden="true">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
          <span class="sr-only">facebook</span>
        </a>
        <a href="https://twitter.com/skdworp/" title="volg ons op twitter" target="_blank">
          <span class="fa-stack fa-lg" aria-hidden="true">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          <span class="sr-only">twitter</span>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="{{"/scripts/site.min.js" | relative_url }}"></script>
{% include clicky.html %}
