<footer id="footer" class="container-full text-center invisible">
  <a id="pijl" class="lead" href="#" onclick="naarBoven();return false;" title="naar boven">
    <i class="fa fa-chevron-circle-up fa-lg"></i><span class="sr-only">naar begin pagina</span>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p><a href="{{ "/contact/" | prepend: site.baseurl }}"><i class="fa fa-envelope-o"></i> contacteer ons</a></p>
      </div>
      <div class="col-xs-4">
        <p><a href="{{ "/inschrijven-ni/" | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i> inschrijven verslagen</a></p>
      </div>
      <div class="col-xs-4">
        <p> <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-feed"></i> atom feed</a></p>
      </div>
    </div>
  </div>
</footer>
<script>
  function naarBoven() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  }
  function setFooterStyle() {
    var docHeight = $(window).height();
    var footerHeight = $('#footer').outerHeight();
    var footerTop = $('#footer').position().top + footerHeight;
    if (footerTop < docHeight) {
        $('#pijl').addClass('invisible');
        $('#footer').css('margin-top', (docHeight - footerTop) + 'px');
    } else if (footerTop < 1.3 * docHeight) {
        $('#pijl').addClass('invisible');
        $('#footer').css('margin-top', '');
    } else {
        $('#pijl').removeClass('invisible');
        $('#footer').css('margin-top', '');
    }
    $('#footer').removeClass('invisible');
  }
  $(document).ready(function() {
    setFooterStyle();
    window.onresize = setFooterStyle;
    $('a[data-toggle="pill"]').on('shown.bs.tab', setFooterStyle);
  });
</script>
<script src="{{"/scripts/bootstrap-accessibility.min.js" | prepend: site.baseurl }}"></script>
{% include clicky.html %}
