<footer id="footer" class="footer-main container-full text-center invisible">
  <a id="pijl" href="#" onclick="naarBoven();return false;" title="naar boven">
    <span class="foaw foaw-chevron-circle-up foaw-3x" aria-hidden="true"></span><span class="sr-only">naar begin pagina</span>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 alignleft">
        <a href="{{ "/#over-ons" | relative_url }}">
          <span class="foaw foaw-fw foaw-lg foaw-envelope-o" aria-hidden="true"></span> contacteer ons
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ "/inschrijven-mailinglijst/" | relative_url }}">
          <span class="foaw foaw-fw foaw-lg foaw-newspaper-o" aria-hidden="true"></span> inschrijven mailinglijst
        </a>
      </div>
      <div class="col-sm-4 alignright">
        <a href="{{ "/feed.xml" | relative_url }}" title="atom (rss) feed" target="_blank">
          <span class="foaw-stack foaw-lg" aria-hidden="true">
            <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
            <i class="foaw foaw-feed foaw-stack-1x"></i>
          </span>
          <span class="sr-only">atom (rss) feed</span>
        </a>
        <a href="https://www.facebook.com/skdworp" title="volg ons op facebook" target="_blank">
          <span class="foaw-stack foaw-lg" aria-hidden="true">
            <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
            <i class="foaw foaw-facebook foaw-stack-1x"></i>
          </span>
          <span class="sr-only">facebook</span>
        </a>
        <a href="https://twitter.com/skdworp/" title="volg ons op twitter" target="_blank">
          <span class="foaw-stack foaw-lg" aria-hidden="true">
            <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
            <i class="foaw foaw-twitter foaw-stack-1x"></i>
          </span>
          <span class="sr-only">twitter</span>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="{{"/assets/js/site.min.js" | relative_url }}"></script>
{% include clicky.html %}
