<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="navigatie aan/uit">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | relative_url }}">dworpse schaakkring</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li{% if page.url == '/kalender/' %} class="active"{% endif %}><a href="{{ "/kalender/" | relative_url }}">kalender</a></li>
        <li{% if page.url contains '/journaal/' %} class="active"{% endif %}><a href="{{ "/journaal/" | relative_url }}">journaal</a></li>
        <li class="dropdown">
          <!-- add href="#" attibute to <a> to fix safari weirdness,
              or add "clickable" to class attribute of <a>
              http://stackoverflow.com/questions/20960405/bootstrap-3-dropdown-on-ipad-not-working -->
          <a class="dropdown-toggle clickable" data-toggle="dropdown" href="#">tornooien<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li{% if page.url == '/klubkampioenschap/' %} class="active"{% endif %}><a href="{{ "/klubkampioenschap/" | relative_url }}">klubkampioenschap</a></li>
            <li{% if page.url == '/interclubs/' %} class="active"{% endif %}><a href="{{ "/interclubs/" | relative_url }}">interclubs</a></li>
            <li{% if page.url == '/snelschaak/' %} class="active"{% endif %}><a href="{{ "/snelschaak/" | relative_url }}">snelschaak</a></li>
            <li{% if page.url == '/open/' %} class="active"{% endif %}><a href="{{ "/open/" | relative_url }}">rapid open</a></li>
            <li{% if page.url == '/archief/' %} class="active"{% endif %}><a href="{{ "/archief/" | relative_url }}">archief</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle clickable" data-toggle="dropdown" href="#">memorial debast<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li{% if page.url == '/memorial/' %} class="active"{% endif %}><a href="{{ "/memorial/" | relative_url }}">editie 2017</a></li>
            <li{% if page.url == '/memorial-2016/' %} class="active"{% endif %}><a href="{{ "/memorial-2016/" | relative_url }}">editie 2016</a></li>
            <li{% if page.url == '/memorial-2015/' %} class="active"{% endif %}><a href="{{ "/memorial-2015/" | relative_url }}">editie 2015</a></li>
            <li{% if page.url == '/memorial-2014/' %} class="active"{% endif %}><a href="{{ "/memorial-2014/" | relative_url }}">editie 2014</a></li>
          </ul>
        </li>
        <!-- extra if-statement to get bootstrap scrollspy working on the homepage -->
        {% if page.url == '/' %}<li><a href="#over-ons">over ons</a></li>{% else %}
        <li><a href="{{ "/#over-ons" | relative_url }}">over ons</a></li>{% endif %}
      </ul>
    </div>
  </div>
</nav>
