{% if paginator.total_pages > 1 %}
<nav aria-label="pagina navigatie">
  <ul class="pager lead">
    <li class="previous{% unless paginator.previous_page %} disabled{% endunless %}"><a href="{{ paginator.previous_page_path | relative_url }}"><span aria-hidden="true">&larr;</span> vorige</a></li>
    <li>pagina {{ paginator.page }}&nbsp;van&nbsp;{{ paginator.total_pages }}</li>
    <li class="next{% unless paginator.next_page %} disabled{% endunless %}"><a href="{{ paginator.next_page_path | relative_url }}">volgende <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
{% endif %}
