<a href="{{ "/inschrijven-mailinglijst/" | relative_url }}" title="schrijf je in op onze mailinglijst" style="text-decoration:none;">
  <span class="fa-stack fa-lg" aria-hidden="true">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-envelope-o fa-stack-1x"></i>
  </span>
  <span class="sr-only">mailinglijst</span>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" title="deel op facebook" style="text-decoration:none;">
  <span class="fa-stack fa-lg" aria-hidden="true">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
  <span class="sr-only">facebook</span>
</a>
<a href="http://www.twitter.com/intent/tweet?url={{ page.url | absolute_url }}" target="_blank" title="deel op twitter" style="text-decoration:none;">
  <span class="fa-stack fa-lg" aria-hidden="true">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  <span class="sr-only">twitter</span>
</a>
