<a href="{{ "/inschrijven-mailinglijst/" | relative_url }}" title="schrijf je in op onze mailinglijst" style="text-decoration:none;">
  <span class="foaw-stack foaw-lg" aria-hidden="true">
    <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
    <i class="foaw foaw-envelope-o foaw-stack-1x"></i>
  </span>
  <span class="sr-only">mailinglijst</span>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" title="deel op facebook" style="text-decoration:none;">
  <span class="foaw-stack foaw-lg" aria-hidden="true">
    <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
    <i class="foaw foaw-facebook foaw-stack-1x"></i>
  </span>
  <span class="sr-only">facebook</span>
</a>
<a href="http://www.twitter.com/intent/tweet?url={{ page.url | absolute_url }}" target="_blank" title="deel op twitter" style="text-decoration:none;">
  <span class="foaw-stack foaw-lg" aria-hidden="true">
    <i class="foaw foaw-circle-thin foaw-stack-2x"></i>
    <i class="foaw foaw-twitter foaw-stack-1x"></i>
  </span>
  <span class="sr-only">twitter</span>
</a>
