{% capture kk_link %}{{ "/klubkampioenschap/" | relative_url }}{% endcapture %}
{% capture ss_link %}{{ "/snelschaak/" | relative_url }}{% endcapture %}
{% capture op_link %}{{ "/open/" | relative_url }}{% endcapture %}
{% capture ni_link %}{{ "/interclubs/" | relative_url }}{% endcapture %}
{% capture mm_link %}{{ "/memorial/" | relative_url }}{% endcapture %}

<div class="table-responsive">
  <table class="table">
    <tbody>
      {% for item in site.data.kalender %}
      {% if item.dag contains include.jaar %}
      <tr>
        <td>{{ item.dag | downcase }}</td>
        {% if item.tornooi contains 'memorial' %}
        <td><a href={{ mm_link }}>{{ item.tornooi }}</a></td>
        {% elsif item.tornooi contains 'interclubs' %}
        <td><a href={{ ni_link }}>{{ item.tornooi }}</a></td>
        {% elsif item.tornooi contains 'lubkampioenschap' %}
        <td><a href={{ kk_link }}>{{ item.tornooi }}</a></td>
        {% elsif item.tornooi contains 'snelschaak' %}
        <td><a href={{ ss_link }}>{{ item.tornooi }}</a></td>
        {% elsif item.tornooi contains 'open' %}
        <td><a href={{ op_link }}>{{ item.tornooi }}</a></td>
        {% else %}
        <td>{{ item.tornooi }}</td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
