<div class="table-responsive">
  <table class="table table-eindstand">
    <thead>
      <tr>
        {% for kolom in include.datafile[0] %}
        <th>{% if forloop.index > 2 %}{{ kolom[0] | downcase }}{% else %}<span class="sr-only">{{ kolom[0] | downcase }}</span>{% endif %}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for team in include.datafile %}
      <tr{% if team.team contains 'worp' %} class="dworp"{% endif %}>
        {% for kolom in team %}
        <td{% if forloop.index == 2 %} class="alignleft"{% endif %}>{{ kolom[1] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
