<div class="table-responsive">
  <table class="table table-condensed uitslagen" id="{{ include.id }}">
    <tbody>
      {% for ronde in include.datafile %}
        {% if ronde.datum contains include.jaar %}
        <tr><th colspan="2">{{ ronde.ronde | downcase }}</th><th colspan="5" class="alignright">{{ ronde.datum | downcase }}</th></tr>
          {% for bord in ronde.partijen %}
            {% assign wr = bord.wr | downcase %}
            {% assign zr = bord.zr | downcase %}
            {% if page.censuur_forfaits %}
              {% assign wr = wr | replace: "f","" %}
              {% assign zr = zr | replace: "f","" %}
            {% endif %}
            <tr>
              <td class="aligncenter">{{ forloop.index }}</td>
              <td>{{ bord.wit | downcase }}</td>
              <td>-</td>
              <td>{{ bord.zwart | downcase }}</td>
              <td class="alignright">{{ wr }}</td>
              <td class="aligncenter">-</td>
              <td>{{ zr }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
