<p class="">schrijf je in op onze <a href="{{ "/inschrijven-ni/" | prepend: site.baseurl }}">mailinglijst</a></p>
{% for post in site.posts %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><a href="{{ post.url | prepend: site.baseurl }}">ronde {{ post.ronde }} - {{ post.title | downcase }}</a></h2>
  </div>
  <div class="panel-body">
    {{ post.excerpt | downcase }}
    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">lees meer »</a>
  </div>
</div>
{% endfor %}
