<p class="">schrijf je in op onze <a href="{{ "/inschrijven-mailinglijst/" | relative_url }}">mailinglijst</a></p>
{% assign verslagen = site.posts | where:"tag",include.tag | where_exp: "post", "post.draft != true" %}
{% for verslag in verslagen %}
  {% assign verslagtijd = verslag.date | date: '%s' | to_integer %}
  {% if verslagtijd < include.begintijd %}
    {% break %}
  {% elsif verslagtijd > include.eindtijd %}
    {% continue %}
  {% else %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ verslag.url | relative_url }}">ronde {{ verslag.ni_ronde }}{{ verslag.kk_ronde }} - {{ verslag.title | downcase }}</a></h3>
    </div>
    <div class="panel-body">
      <p>{{ verslag.content | strip_html | truncatewords: 75 | remove_first: "vooraf" | remove_first: "voorspel" | remove_first: "Vooraf" | remove_first: "Voorspel"}}</p>
      <a href="{{ verslag.url | relative_url }}" class="btn btn-primary">lees meer »</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
