---
layout: compress
---
<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    {% include head.html %}
    <link href="{{"/styles/site.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">￼doorgaan naar hoofdinhoud</a>
    {% include navbar.html %}
    <div class="container main-container" id="content" tabindex="-1">
      {% if page.title %}<h1>{{ page.title | downcase }}</h1>{% endif %}
      {% if page.subtitle %}<h2>{{ page.subtitle | downcase }}</h2>{% endif %}
      {% if page.tempo %}<p class="lead">tempo: {{ page.tempo | downcase }}</p>{% endif %}
      {{ content }}
    </div>
      {% include footer.html %}
  </body>
</html>
