---
layout: compress
---
<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    {% include head.html %}
    <link href="{{"/styles/site.min.css" | relative_url }}" rel="stylesheet">
    <!-- http://stackoverflow.com/questions/23261301/required-attribute-not-work-in-safari-browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/minified/polyfiller.js"></script>
    <script>
      webshim.activeLang('nl');
      webshims.polyfill('forms');
      webshims.cfg.no$Switch = true;
    </script>
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">￼doorgaan naar hoofdinhoud</a>
    {% include navbar.html %}
    <div class="container main-container" id="content" tabindex="-1">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          <h1>{{ page.title | downcase }}</h1>
          <p class="lead">{{ page.uitleg }}</p>
          <div class="well">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{"/scripts/jsencrypt.min.js" | relative_url }}"></script>
    <script>
      function wijzigEmail() {
        var pubkey = "-----BEGIN PUBLIC KEY-----
        MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKsFQhvEQejvb0jvWyIlfUoIX24x37no
        HR6uitQGYuAVQu5BVKhhWl6uultS50q1uIqKP+WaO7WEz+8/dIZa8VkCAwEAAQ==
        -----END PUBLIC KEY-----";
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(pubkey);
        var encrypted = encrypt.encrypt($('#e-mail').val());
        $('<input>').attr('type', 'hidden').attr('name', 'fields[e-mail]').attr('value', encrypted).appendTo('#inschrijven');
      console.log($('#aanwezig').val());
        return true;
      }
    </script>

  </body>
</html>
