---
layout: compress
---
<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    {% include head.html %}
    <link href="{{"/styles/post.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">￼doorgaan naar hoofdinhoud</a>
    {% include navbar.html %}
    <div class="container main-container" id="content" tabindex="-1">
      <header id="top">
        <h1>{{ page.title | downcase }}</h1>
        <hr>
      </header>
      <section id="verslag">
        <div class="container">
          <h2>door {{ page.author | downcase}}</h2>
          <p>{% include datum.html %}</p>
          <p>nationale interclubs ronde&nbsp;{{ page.ni_ronde }}<br>{{ page.ni_thuisploeg | downcase }} - {{ page.ni_uitploeg | downcase }}</p>
          {{ content | downcase }}
          {% if page.stelling_fen and page.stelling_fen != "" %}
          <h2>{{ page.stelling_titel | downcase }}</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="padding-bottom: 15px;">
                <div class="schaakbord center-block" id="board"></div>
                <p class="small">fen: {{ page.stelling_fen }}</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p class="lead">wit: {{ page.stelling_wit | downcase  }}<br>zwart: {{ page.stelling_zwart | downcase  }}</p>
                <p>{{ page.stelling_uitleg }}</p>
                <div id="tonen"><p><a href="#" onclick="toonOplossing();return false;">toon oplossing</a></p></div>
                <div id="oplossing" class="hidden"><p>{{ page.stelling_oplossing }}</p></div>
                <p><a href="https://nl.lichess.org/analysis/_{{ page.stelling_fen | replace: " ", "_"}}" target="_blank">lichess.org analyse bord</a><p>
              </div>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
    {% include footer.html %}
    {% if page.stelling_fen and page.stelling_fen != "" %}
      <script src="{{"/scripts/post.min.js" | prepend: site.baseurl }}"></script>
      <script>
      $(document).ready(function(){
        var board = ChessBoard('board', {
          showNotation: false,
          pieceTheme: uscf_piece_theme,
          boardTheme: wikipedia_board_theme,
          position: "{{ page.stelling_fen }}"
        });
        $(window).resize(board.resize);
      });
      </script>
    {% endif %}
  </body>
</html>
