---
layout: compress
---
<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    {% include head.html %}
    <link href="{{"/assets/css/post.min.css" | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">￼doorgaan naar hoofdinhoud</a>
    {% include navbar.html %}
    <div class="container main-container" id="content" tabindex="-1">
      {% include verslagen-vorige-volgende.html %}
      <header id="top">
        <h1>{{ page.title | downcase }}{% if page.draft %} (draft){% endif %}</h1>
        <hr>
      </header>
      <section id="verslag">
        <div class="container">
          <div class="grijs">
            {% include social.html %}
          </div>
          <h2>door {{ page.author | replace: ',', ', ' | downcase}}
          {% if page.fotograaf and page.fotograaf != page.author %}
          <small> (foto's {{ page.fotograaf | replace: ',', ', ' | downcase }})</small>
          {% endif %}
          </h2>
          <p>{% include datum.html date=page.date %}</p>
          {% if page.tag == "ni" %}
          <p>nationale interclubs ronde&nbsp;{{ page.ni_ronde }}
            {% if page.ni_d1_thuisploeg %}
            <br>{{ page.ni_d1_thuisploeg | downcase }} - {{ page.ni_d1_uitploeg | downcase }}
            {% endif %}
            {% if page.ni_d2_thuisploeg %}
            <br>{{ page.ni_d2_thuisploeg | downcase }} - {{ page.ni_d2_uitploeg | downcase }}
            {% endif %}
            {% if page.ni_d3_thuisploeg %}
            <br>{{ page.ni_d3_thuisploeg | downcase }} - {{ page.ni_d3_uitploeg | downcase }}
            {% endif %}
            {% if page.ni_d4_thuisploeg %}
            <br>{{ page.ni_d4_thuisploeg | downcase }} - {{ page.ni_d4_uitploeg | downcase }}
            {% endif %}
          </p>
          {% endif %}
          {% if page.tag == "kk" %}
          <p>klubkampioenschap ronde&nbsp;{{ page.kk_ronde }}</p>
          {% endif %}
          {{ content }}
	  {% if page.tag == "ni" %}
	  <p>
	    <a href="{{ "interclubs" | absolute_url }}">uitslagen en standen interclubs</a>
	  </p>  
	  {% endif %}
          {% if page.stelling_fen and page.stelling_fen != "" %}
          <h2>{{ page.stelling_titel | downcase }}</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="padding-bottom: 15px;">
                <div class="schaakbord center-block" id="board"></div>
                <p class="small">fen: {{ page.stelling_fen }}</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p class="lead">wit: {{ page.stelling_wit | downcase  }}<br>zwart: {{ page.stelling_zwart | downcase  }}</p>
                <p>{{ page.stelling_uitleg }}</p>
                {% if page.stelling_oplossing and page.stelling_oplossing != '' %}
                  <div id="tonen"><p><a href="#" onclick="toonOplossing();return false;">toon oplossing</a></p></div>
                  <div id="oplossing" class="hidden"><p>{{ page.stelling_oplossing }}</p></div>
                {% endif %}
                <p><a href="https://nl.lichess.org/analysis/_{{ page.stelling_fen | replace: " ", "_"}}" target="_blank">lichess.org analyse bord</a><p>
              </div>
            </div>

          {% endif %}
        </div>
      </section>
    </div>
    {% include footer.html %}
    {% if page.stelling_fen and page.stelling_fen != "" %}
      <script src="{{"/assets/js/post.min.js" | relative_url }}"></script>
      <script>
      $(document).ready(function(){
        var board = ChessBoard('board', {
          showNotation: false,
          pieceTheme: uscf_piece_theme,
          boardTheme: wikipedia_board_theme,
          position: "{{ page.stelling_fen }}"
        });
        $(window).resize(board.resize);
      });
      </script>
    {% endif %}

  </body>
</html>
