---
---
@import "varia/font-grootte";
@import "varia/kleuren";
@import "varia/typografie";
@import "componenten/navbar";
@import "componenten/footer";
@import "componenten/chessboard-0.3.0";
@import "bootswatch/variables";
@import "bootswatch/bootswatch";
@import "bootstrap-custom-posts";
@import "font-awesome-custom";

.schaakbord {
  width: 100%;
}

@media (min-width: 768px) {
  hr {
    margin: 30px auto 30px;
    border-color: $brand-primary;
  }
  p {
    font-size: larger;
  }
  .auteur {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  hr {
    margin: 15px auto 15px;
    border-color: $brand-primary;
  }
  .auteur {
    padding-bottom: 10px;
  }
}
