---
---
.schaakbord {
  width: 100%;
}

@media (min-width: 768px) {
  hr {
    margin: 30px auto 30px;
    border-color: #E95420;
  }
  p {
    font-size: larger;
  }
  footer {
    padding: 50px;
  }
  .auteur {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  hr {
    margin: 15px auto 15px;
    border-color: #E95420;
  }
  footer {
    padding: 30px;
  }
  .auteur {
    padding-bottom: 10px;
  }
}
