---
---

@import "variables";
@import "bootswatch";
@import "bootstrap";

.main-container {
  padding-top: 70px;
}

.nav-pills {
  padding-top: 10px;
  padding-bottom: 20px;
}

.table tbody tr > th {
  color: #ffffff;
  background-color: #dd4814;
}

.table thead tr > th {
  color: #ffffff;
  background-color: #dd4814;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.schuin {
  font-style: italic;
}

.vet {
  font-weight: bold;
}

.table-eindstand thead tr > th {
  text-align: center;
}

.table-eindstand tbody tr > th {
    text-align: center;
}

.table-eindstand {
    text-align: center;
}

/*fix for safari (ios): caret sometimes not showing */
.caret {
  border-top: 4px solid;
}
