---
---
@import "variabelen";
@import "bootswatch";
@import "bootstrap";

.main-container {
  padding-top: 70px;
}

.nav-pills {
  padding-top: 10px;
  padding-bottom: 20px;
}

.table tbody tr > th {
  color: $body-bg;
  background-color: $brand-primary;
}

.table thead tr > th {
  color: $body-bg;
  background-color: $brand-primary;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.schuin {
  font-style: italic;
}

.pseudo-h2 {
  font-size:$font-size-h2;
  line-height:$headings-line-height;
  margin-top: 20px;
  margin-bottom: 10px;
}

.pseudo-h3 {
  font-size:$font-size-h3;
  line-height:$headings-line-height;
  margin-top: 20px;
  margin-bottom: 10px;
}

.vet {
  font-weight: bold;
}

.doorstreept {
  text-decoration: line-through;
}

.verborgen {
  display:none;
}

.table-eindstand thead tr > th {
  text-align: center;
}

.table-eindstand tbody tr > th {
    text-align: center;
}

.table-eindstand {
    text-align: center;
}

.dworp {
  background-color: $state-info-bg;
}

/*fix for safari (ios): caret sometimes not showing */
.caret {
  border-top: 4px solid;
}

@media (min-width: 768px) {
  .img404 {
    width:50%;
    height:auto;
  }
}
@media (max-width: 767px) {
  .img404 {
    width: 90%;
    height: auto;
  }
}

footer {
  padding-bottom: 1px;
  background-color:$brand-primary;
  color:$body-bg;
}

footer > a i {
  padding: 10px;
}

footer a {
  color: $body-bg;
}

footer a:hover {
  text-decoration: none;
}
