@import "bootswatch/variables";

.footer-main {
  padding-bottom: 1px;
  background-color:$brand-primary;
  color:$body-bg;
}

.footer-main > a span {
  padding: 10px;
}

.footer-main a {
  color: $body-bg;
}

.footer-main a:hover {
  text-decoration: none;
}

.footer-main div div div {
   padding-bottom: 10px;
   font-size: larger;
}

.footer-main div div div a {
  vertical-align:sub;display:inline-block;
}

@media (max-width: 767px) {
	.footer-main div div div {
		text-align: center;
	}
}
